@using System.Web
@using System.Web.Mvc
@using System.Data
@using System.Data.SqlClient
@using System.IO
@using System.Drawing
@using System.Drawing.Imaging
@using System.Web.Services
@{
    ViewBag.Title = "ViewProducts";
}
<h2>View Products</h2>

@{
    string connStr = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\admin\source\repos\OnlineShopping\OnlineShopping\App_Data\OnlineShopping.mdf;Integrated Security=True";
    using (var db = new SqlConnection(connStr))
    {
        db.Open();
        using (var cmd = db.CreateCommand())
        {
            cmd.CommandType = CommandType.Text;
            cmd.CommandText = "SELECT * FROM PRODUCT";
            using (var reader = cmd.ExecuteReader())
            {
                if (reader.HasRows)
                {
                    <div class="row d-flex flex-wrap">
                        @while (reader.Read())
                        {
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                <img class="card-img" src="../Home/Image?filename=@HttpUtility.UrlEncode(reader["IMAGE"] + "")" alt="Product Image" onclick="gotoDetail(@reader["ID"])">
                                <div class="card-body">
                                    <h5 class="card-title">@reader["NAME"]</h5>
                                    <p class="card-text"><strong>Price:</strong> P @reader["PRICE"]</p>
                                    <p class="card-text"><strong>Category:</strong> @reader["CATEGORY"]</p>
                                    <p class="card-text">@reader["DESCRIPTION"]</p>
                                    <p class="card-text"><strong>In Stock:</strong> @reader["QUANTITY"]</p>
                                    <div class="form-group">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <input type="number" class="form-control txtqty" name="txtqty" min="0" step="1" max="@reader["QUANTITY"]" placeholder="Quantity" />
                                            <button type="button" class="btnCart">Add to Cart</button> }
                                        else
                                        {
                                            <p>Please <a href="@Url.Action("Login", "Account")">login</a> to add to cart.</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                }
            }
        }
    }
}

<script src="~/Scripts/LatestJquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/Store/Store.js"></script>
<script>
    $(document).ready(function () {
        $(".btnCart").each(function () {
            $(this).click(function () {
                var id = $(this).closest('.card').find('.card-title').text();
                alert("Added to cart: " + id);
            });
        });
    });
</script>

<style>
    .card {
        margin-bottom: 10px;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        border-radius: 10px;
        cursor: pointer;
    }
    .card img {
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }
    .card p, h5{
        padding-left:8px;
    }
    .card input{
        padding-left:8px;
        justify-content: center;
        margin-bottom: 10px;
        margin-left: 10px;
        justify-content: center;
        max-width: 200px;
    }

    .price {
        color: grey;
        font-size: 15px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;   
    }

    .card button:hover {
        opacity: 0.7;
    }

    .btnCart {
        width: 100%;
    }
</style>
