<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title - E-Mart
    </title>
    <script src="~/Scripts/LatestJquery/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-custom {
            background-color: #343a40;
        }

            .navbar-custom .navbar-nav .nav-link {
                color: #9d9d9d;
            }

                .navbar-custom .navbar-nav .nav-link:hover,
                .navbar-custom .navbar-nav .nav-link:focus {
                    color: #fff;
                }

            .navbar-custom .navbar-brand {
                color: #fff;
            }

        .nav-right .nav-item {
            margin-left: 10px;
        }

        footer {
            text-align: center;
            margin-top: 20px;
        }

        .body-content {
            margin-top: 60px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                E-Mart
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Products", "ListAllProducts", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Customers", "ListAllCustomers", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Orders", "ListAllOrders", "Home", null, new { @class = "nav-link" })
                        </li>
                    }
                    else if (Session["Username"] != null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Shop", "ViewProducts", "Store", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Cart", "Store", new { user = Session["Username"] as String })" class="nav-link d-flex align-items-center">
                                <span>View Cart</span>
                                <i class="fas fa-shopping-cart ms-2"></i>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Store", "ViewProducts", "Store", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
                <ul class="navbar-nav nav-right">
                    @if (Session["Username"] == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sign Up", "SignUp", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                    else if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OnlineShopping</p>
        </footer>
    </div>

    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4qmlQIQieKl0Hq6r5/10M9Jowf4GmHEG5Rl0XUofBSBfCUl26L4f9W" crossorigin="anonymous"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
