
@{
    ViewBag.Title = "EditCustomer";
    string dateOfBirth = "";
    if (ViewBag.DateOfBirth != null)
    {
        DateTime dob;
        if (DateTime.TryParse(ViewBag.DateOfBirth.ToString(), out dob))
        {
            dateOfBirth = dob.ToString("yyyy-MM-dd");
        }
    }
}

<h2>Edit Customer</h2>
<form id="customerEditForm" method="post" enctype="multipart/form-data">
    <h3>ID: </h3><h4 id="cusID">@ViewBag.cusID</h4>
    <div class="mb-3">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" value="@ViewBag.FirstName">
    </div>
    <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" value="@ViewBag.LastName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" value="@ViewBag.Email">
    </div>
    <div class="mb-3">
        <label for="pass" class="form-label">Password</label>
        <input type="text" class="form-control" id="pass" value="@ViewBag.Password">
    </div>
    <div class="mb-3">
        <label for="uname" class="form-label">Username</label>
        <input type="text" class="form-control" id="uname" value="@ViewBag.Username">
    </div>
    <div class="mb-3">
        <label for="dob" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" id="dob" value="@dateOfBirth">
    </div>
    <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select id="gender" class="form-select" required>
            <option value="" selected disabled>Select Gender</option>
            <option value="F" @(ViewBag.Gender == "F" ? "selected" : "")>Female</option>
            <option value="M" @(ViewBag.Gender == "M" ? "selected" : "")>Male</option>
            <option value="O" @(ViewBag.Gender == "O" ? "selected" : "")>Other</option>
        </select>
    </div>
</form>
<input type="button" class="btn btn-primary" id="btnBack" name="btnBack" value="Go Back" />&nbsp;
<input type="button" class="btn btn-success" id="btnUpdate" name="btnUpdate" value="Update" />&nbsp;
<input type="button" class="btn btn-danger" id="btnDelete" name="btnDelete" value="Delete" />&nbsp;

<script src="~/Scripts/LatestJquery/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/MyScripts/UpdateCustomer.js"></script>
