@using System.Web;
@using System.Web.Mvc;
@using System.Data;
@using System.Data.SqlClient;
@using System.IO;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.Web.Services;
@{
    ViewBag.Title = "ListAllCustomers";
}

<h2>List Of All Customers</h2>
@{
    string connStr = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\admin\source\repos\OnlineShopping\OnlineShopping\App_Data\OnlineShopping.mdf;Integrated Security=True";
    using (var db = new SqlConnection(connStr))
    {
        db.Open();
        using (var cmd = db.CreateCommand())
        {
            cmd.CommandType = CommandType.Text;
            cmd.CommandText = "SELECT * FROM CUSTOMER";
            using (var reader = cmd.ExecuteReader())
            {
                if (reader.HasRows)
                {
                    <table class="table table-striped table-bordered" id="datatable">
                        <thead>
                            <tr>
                                <th>CUSTOMER ID</th>
                                <th>LAST NAME</th>
                                <th>FIRST NAME</th>
                                <th>EMAIL</th>
                                <th>PASSWORD</th>
                                <th>USERNAME</th>
                                <th>DATE OF BIRTH</th>
                                <th>GENDER</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @while (reader.Read())
                            {
                                <tr>
                                    <td>@reader["ID"]</td>
                                    <td>@reader["LNAME"]</td>
                                    <td>@reader["FNAME"]</td>
                                    <td>@reader["EMAIL"]</td>
                                    <td>@reader["PASSWORD"]</td>
                                    <td>@reader["USERNAME"]</td>
                                    <td>@reader["DATE_OF_BIRTH"]</td>
                                    <td>@reader["GENDER"]</td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditCustomer", new { id = @reader["ID"] }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Delete", "DeleteCustomer", new { id = @reader["ID"] }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure you want to delete this customer?');" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>There are no customers in the list</p>
                }
            }
        }
    }
}
@Html.ActionLink("Add Customer", "CreateCustomer", null, new { @class = "btn btn-success add-product-btn" })

<script src="~/Scripts/LatestJquery/jquery-3.7.1.min.js"></script>
